body {
	
}
/*#update-status {
    font-size: 12px;
    color: #5bc0de;
    display: none;
    margin-left: 10px;
}
.panel-heading {
    font-weight: bold;
}
.progress {
    margin-bottom: 10px;
    height: 20px;
}
.refresh-timer {
    font-size: 12px;
    color: #777;
}
.page-header {
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
}

.refresh-button {
    margin-left: 10px;
}*/