<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="login_rewrite" enabled="true">
                    <match url="^$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/backend.php/security/login" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering allowDoubleEscaping="true" removeServerHeader="true">
                <requestLimits maxAllowedContentLength="4294967295" />
                <verbs>
                    <add verb="PUT" allowed="true" />
                </verbs>
            </requestFiltering>
        </security>		
        <staticContent>
            <mimeMap fileExtension=".msg" mimeType="application/vnd.ms-outlook" />
            <mimeMap fileExtension=".dwg" mimeType="application/acad" />
            <mimeMap fileExtension=".properties" mimeType="application/octet-stream" />
        </staticContent>
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="403,500-505" />
                </add>
            </traceFailedRequests>
        </tracing>
        <httpProtocol>
            <customHeaders>
                <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="Permissions-Policy" value="interest-cohort=(), accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=()" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https:; style-src 'self' 'unsafe-inline' https:; img-src 'self' data: blob: https:; font-src 'self' data: https:; connect-src 'self' https: wss:; frame-ancestors 'self' http://localhost:* https://localhost:*; object-src 'none'; base-uri 'self'; form-action 'self'; upgrade-insecure-requests;" />
            </customHeaders>
        </httpProtocol>
        <handlers>
            <remove name="php-7.4.30" />
            <add name="php-7.4.30" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP\7.4.30\php-cgi.exe" resourceType="Either" />
        </handlers>
    </system.webServer>
    <system.web>
        <httpRuntime executionTimeout="650" requestValidationMode="2.0" />
    </system.web>
</configuration>
